registry=https://artifactory.avl.com/artifactory/api/npm/npm
proxy=null
https-proxy=null

; binary needed for node-sass
sass_binary_site=https://artifactory.avl.com/artifactory/repo-vendor/GitHub/node-sass