<avl-app-layout>
  <avl-app-bar
    *ngIf="!isChild"
    [homePageUrl]="homePageUrl"
    slot="toolbar"
    [fixed]="true"
    [(currentApplication)]="currentApp"
  >
    <viz-notifications></viz-notifications>
    <avl-overflow-menu
      id="appBarMenu"
      slot="menu"
      [items]="menuItems"
      (itemClicked)="overflowMenuClicked($event)"
    >
      <avl-icon-button icon="more-vert" slot="trigger"></avl-icon-button>
    </avl-overflow-menu>
  </avl-app-bar>

  <avl-side-nav slot="left-side" [menuItems]="sideNavItems" [shellUrl]="shellUrl"></avl-side-nav>
  <div *ngIf="showLoader" class="loadingProgressContainer">
    <div class="loader"></div>
    <div>{{ 'VizBoxStarterKit.Loading...' | translate }}</div>
  </div>
  <router-outlet (activate)="onActivate()"></router-outlet>
</avl-app-layout>

<avl-dialog
  *ngIf="!isChild"
  id="settingsDialog"
  [(open)]="isSettingsDialogOpen"
  [closeOnScrimClick]="false"
>
  <ng-template #content>
    <avl-dialog-header>{{ 'VizBoxStarterKit.Settings' | translate }}</avl-dialog-header>
    <avl-dialog-content>
      <p>{{ 'VizBoxStarterKit.Theme' | translate }}</p>
      <avl-radio-group id="theme" [(selectedValue)]="settings.theme">
        <avl-radio-button name="light">{{ 'VizBoxStarterKit.Light' | translate }}</avl-radio-button>
        <avl-radio-button name="dark">{{ 'VizBoxStarterKit.Dark' | translate }}</avl-radio-button>
      </avl-radio-group>
      <br />

      <avl-dropdown
        id="languageDropdown"
        [label]="labelLanguage"
        [items]="languages"
        [(selectedValue)]="settings.language"
      ></avl-dropdown>
      <avl-dropdown
        id="countryDropdown"
        [label]="labelCountry"
        [items]="countries"
        [selectedValue]="settings.country"
        (selected-value-changed)="onCountryChanged($event)"
      ></avl-dropdown>
      <div *ngIf="settings.country">
        <avl-dropdown
          id="dateTimeFormatDropdown"
          [label]="labelDateTimeFormat"
          [items]="dateTimeFormats"
          [(selectedValue)]="settings.dateTimeFormat"
        ></avl-dropdown>
        <avl-dropdown
          id="decimalSeparatorDropdown"
          [label]="labelDecimalSeparator"
          [items]="decimalSeparators"
          [(selectedValue)]="settings.decimalSeparator"
        ></avl-dropdown>
      </div>

      <avl-list-expander [narrow]="true">
        <div role="header">
          <label>{{ 'VizBoxStarterKit.Logging' | translate }}</label>
        </div>
        <div role="content">
          <avl-dropdown
            id="logLevelDropdown"
            [items]="logLevelOptions"
            [label]="labelLogLevel"
            [(selectedIndex)]="settings.globalLogLevel"
            compact-mode
          ></avl-dropdown>
          <br />
          <avl-textfield
            [label]="labelLogDebounceTime"
            [(value)]="settings.debounceTime"
            compact-mode
          ></avl-textfield>
          <avl-textfield
            [label]="labelLogCapacity"
            [(value)]="settings.capacity"
            compact-mode
          ></avl-textfield>
        </div>
      </avl-list-expander>
    </avl-dialog-content>

    <avl-dialog-footer>
      <avl-button (click)="closeDialog('Save')">{{
        'VizBoxStarterKit.Save' | translate
      }}</avl-button>
      <avl-button (click)="closeDialog('Cancel')">{{
        'VizBoxStarterKit.Cancel' | translate
      }}</avl-button>
    </avl-dialog-footer>
  </ng-template>
</avl-dialog>

<avl-about-dialog [(open)]="isAboutDialogOpen" [avlAboutDialogInfo]="avlAboutDialogInfo">
</avl-about-dialog>

<avl-unsaved-changes-dialog [unsavedChangesService]="unsavedChangesService"></avl-unsaved-changes-dialog>
