<avl-app-layout>
  <avl-app-bar *ngIf="!isChild" [homePageUrl]="homePageUrl" slot="toolbar" [fixed]="true"
    [(currentApplication)]="currentApp">

    <avl-overflow-menu slot="menu" [items]="menuItems" (itemClicked)="overflowMenuClicked($event)">
      <avl-icon-button icon="more-vert" slot="trigger"></avl-icon-button>
    </avl-overflow-menu>
  </avl-app-bar>

  <avl-side-nav slot="left-side" [menuItems]="sideNavItems"></avl-side-nav>
  <div *ngIf="showLoader" class="loadingProgressContainer">
    <div class="loader"></div>
    <div>Loading, please wait...</div>
  </div>
  <router-outlet (activate)="onActivate()"></router-outlet>
</avl-app-layout>

<avl-dialog *ngIf="!isChild" id="settingsDialog" [(open)]="isSettingsDialogOpen" [closeOnScrimClick]="false">

  <ng-template #content>
    <avl-dialog-header>Settings</avl-dialog-header>
    <avl-dialog-content>
      <p>Theme</p>
      <avl-radio-group id="theme" [(selectedValue)]="settings.theme">
        <avl-radio-button name="light">Light</avl-radio-button>
        <avl-radio-button name="dark">Dark</avl-radio-button>
      </avl-radio-group> <br />

      <avl-dropdown id="countryDropdown" label="Country" [items]="countries" [(selectedValue)]="settings.country"
        compact-mode></avl-dropdown><br />
      <avl-dropdown id="languageDropdown" label="Language" [items]="languages" [(selectedValue)]="settings.language">
      </avl-dropdown><br />
      
      <avl-list-expander [narrow]="true">
        <div role="header">
            <label>Logging</label>
        </div>
        <div role="content">
          <avl-dropdown id="logLevelDropdown" [items]="logLevelOptions" label="Log Level" [(selectedIndex)]="settings.globalLogLevel" compact-mode></avl-dropdown> <br />
          <avl-textfield label="Log debounce time (s)" [(value)]="settings.debounceTime" compact-mode></avl-textfield>
          <avl-textfield label="Log capacity" [(value)]="settings.capacity" compact-mode></avl-textfield>
        </div>
    </avl-list-expander>
    </avl-dialog-content>

    <avl-dialog-footer>
      <avl-button (click)="closeDialog('Save')">Save</avl-button>
      <avl-button (click)="closeDialog('Cancel')">Cancel</avl-button>
    </avl-dialog-footer>
  </ng-template>
</avl-dialog>

<avl-about-dialog
  [(open)]="isAboutDialogOpen"
  [productLogo]="AVLDialogInfo.logoSrc"
  [productName]="AVLDialogInfo.productName"
  [brandPromise]="AVLDialogInfo.brandPromise"
  [versionInfo]="AVLDialogInfo.versionInfo"
  [legalText]="AVLDialogInfo.legalText"
  [additionalInfoLabel]="AVLDialogInfo.additionalInfoLabel"
  [additionalInfoUrl]="AVLDialogInfo.additionalInfoUrl"
  [copyright]="AVLDialogInfo.copyright"
>
</avl-about-dialog>