.action-bar {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  vertical-align: bottom;
}

.action-title {
  float: left;
  text-align: left;
  /* font-size: 24px; */
  margin-top: 8px;
  margin-bottom: 0px;
}

.action-buttons {
  float: right;
  text-align: left;
  --avl-icon-button-color: var(--avl-secondary-color);
}

.action-secondary {
  --avl-icon-button-color: var(--avl-secondary-color);
}

avl-datatable {
  height: 506px;
}
