<div class="card-container">
  <avl-card>
    <h1 slot="title" class="avl-container-start">
      {{ 'VizBoxStarterKit.LocalizationDemo' | translate }}
    </h1>
    <div slot="content">
      <h3>
        <b>{{ 'VizBoxStarterKit.Date' | translate }}:</b> {{ localizatedDate }}
      </h3>
      <h3>
        <b>{{ 'VizBoxStarterKit.NumberFormat' | translate }}:</b> {{ formattedNumber }}
      </h3>
    </div>
  </avl-card>
  <avl-card *ngIf="isChild">
    <h2 slot="title">Sibling App navigation</h2>
    <div slot="actions" id="actions">
      <avl-button routerLink="/app1/about"
        >App1 {{ 'VizBoxStarterKit.About' | translate }}
      </avl-button>
      <avl-button routerLink="/app2/about"
        >App2 {{ 'VizBoxStarterKit.About' | translate }}
      </avl-button>
    </div>
  </avl-card>
  <avl-card>
    <h1 slot="title" style="margin-top: 30px">{{ 'VizBoxStarterKit.LoggingDemo' | translate }}</h1>
    <div slot="content" style="margin-top: 10px">
      <div *ngFor="let log of logs$ | async" style="margin-top: 5px">
        {{ log | json }}
      </div>
    </div>
    <div slot="actions" id="actions">
      <avl-button (click)="debug()">Debug</avl-button>
      <avl-button (click)="info()">Info</avl-button>
      <avl-button (click)="warn()">Warning</avl-button>
      <avl-button (click)="error()">Error</avl-button>
    </div>
  </avl-card>

  <avl-card *ngIf="isChild">
    <h2 slot="title">Shell's overflow menu</h2>
    <div slot="content">
      This button demonstrates child to shell communication. The new item in shell's overflow menu
      is added on click.
    </div>
    <div slot="actions" id="actions">
      <avl-button *ngIf="isChild" (click)="addMenuItemClicked()"> Add item </avl-button>
    </div>
  </avl-card>
</div>

<h1>Unsaved changes in Angular Forms Demo</h1>

<div class="formsDemo">
  <div class="form">
    <h3>Demo form 1</h3>
    <form detectUnsavedChanges [formGroup]="demoForm">
      <div class="form-group">
        <label for="demoInput1"> Demo Input 1: </label>
        <avl-textfield formControlName="demoInput1" id="demo1"></avl-textfield>
      </div>
      <div class="form-group">
        <label for="test"> Demo Input 2: </label>
        <avl-textfield formControlName="demoInput2" id="demo2"></avl-textfield>
      </div>
      <br />
      <avl-button (click)="onSubmit(demoForm)" type="submit">Submit</avl-button>
      <avl-button type="button" (click)="unregisterForm(demoForm)">Unregister</avl-button>
    </form>
  </div>

  <div class="form">
    <h3>Demo form 2</h3>
    <form detectUnsavedChanges [formGroup]="demoForm2" (ngSubmit)="onSubmit(demoForm2)">
      <div class="form-group">
        <label for="demoInput1"> Demo Input 3: </label>
        <avl-textfield formControlName="demoInput3" id="demo3"></avl-textfield>
      </div>
      <div class="form-group">
        <label for="test"> Demo Input 4: </label>
        <avl-textfield formControlName="demoInput4" id="demo4"></avl-textfield>
      </div>
      <br />
      <avl-button (click)="onSubmit(demoForm2)">Submit</avl-button>
      <avl-button type="button" (click)="unregisterForm(demoForm2)">Unregister</avl-button>
    </form>
  </div>
</div>

<br /><br />
<avl-button (click)="printForms()">Log registered forms</avl-button>
