<avl-dialog class="petDialog" id="dialog"
  [(open)]="open"
  (openChange)="dialogOpen($event)">

  <ng-template #content>
  <avl-dialog-header *ngIf="edit; else newPetBlock">
    {{ 'VizBoxStarterKit.EditPet' | translate }}
  </avl-dialog-header>
  <ng-template #newPetBlock>
    <avl-dialog-header>
      {{ 'VizBoxStarterKit.NewPet' | translate }}
    </avl-dialog-header>
  </ng-template>
  <avl-dialog-content>
  <form #petForm="ngForm">
    <avl-textfield label="{{ 'VizBoxStarterKit.Name' | translate }}"
      [(ngModel)]="dialogPet.name"
      name="name"
      #name="ngModel" required></avl-textfield>

    <avl-dropdown label="Status" [items]="statusOptions"
      [(ngModel)]="dialogPet.status"
      name="status"
      #status="ngModel" required>
    </avl-dropdown>

    <avl-upload accept=".png,.jpg" [target]="uploadPath"
      (uploadComplete)="onFileUploadComplete($event)"
      (uploadStart)="onFileUploadStarted($event)"
      (menuItemClicked)="onFileMenuItemClicked($event)"
      [(ngModel)]="uploadedFiles" name="upload"
    ></avl-upload>
  </form>
</avl-dialog-content>
      <avl-dialog-footer>
        <avl-button class="cancelButton" (click)="closeDialog()">
          {{ 'VizBoxStarterKit.Cancel' | translate }}
        </avl-button>
    
        <avl-button
          id="save-button"
          (click)="savePet(petForm.form.valid)"
          [disabled]="filesUploading || !petForm.form.valid">
          {{ 'VizBoxStarterKit.Save' | translate }}
        </avl-button>
      </avl-dialog-footer>
</ng-template>
</avl-dialog>
