<avl-icon-button
  #bellIcon
  id="bellIcon"
  icon="social:notifications"
  slot="trigger"
  (click)="toggleNotificationsMenu()"
  [badge]="notificationCount"
  [badgeValue]="notificationCount"
>
</avl-icon-button>

<avl-notification-menu
  [(open)]="isNotificationMenuOpen"
  [notifications]="notificationService.notifications"
  [trigger]="bellIcon"
  (openDetails)="openNotificationDialog()"
  (markAllAsRead)="notificationService.markAllAsRead()"
  (markAllAsUnread)="notificationService.markAllAsUnread()"
  (notificationStateChanged)="onNotificationStateChanged($event)"
>
</avl-notification-menu>

<avl-notification-container
  *ngIf="!isNotificationMenuOpen && !isNotificationDialogOpen"
  [notification$]="notificationService.notification$"
  (openMenu)="toggleNotificationsMenu()"
></avl-notification-container>

<avl-notification-dialog
  *ngIf="isNotificationDialogOpen"
  [(open)]="isNotificationDialogOpen"
  [refreshBadge]="newNotifications | async"
  [notifications]="dialogData | filterNotifications: filters"
  [notificationsCount]="notificationService.notificationsCount"
  (markSelectedAsRead)="markSelectedAsRead($event)"
  (markSelectedAsUnread)="markSelectedAsUnread($event)"
  (filtersChange)="onFiltersChange($event)"
  (tableRefresh)="refreshData()"
>
</avl-notification-dialog>
